<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../js/js/jquery-1.11.0.min.js"></script>
    <script src="../js/js/jquery-upload.min.js"></script>
    <script src="../js/upload.js"></script>
    <title>file upload</title>
</head>
<body>
    <span id="img" style="color:green;"></span> <br>
    <input type="file" name="file" id="file"> <br>
    <input type="button" id="upload" class="l-button" value="upload">
    <!--显示进度条-->
    <span id="progress" style="color:green;"></span>
</body>
</html>